<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.chefgo">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.LOCALHOST" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".app.AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".CustomerMealAccepted"></activity>
        <activity android:name=".AllergiesActivity"></activity>
        <activity android:name=".AdminClient.UsersActivity" />
        <activity android:name=".ChefClient.ChefProfile" />
        <activity android:name=".LoginorRegistrationActivity.RegistrationActivity" />
        <activity android:name=".AdminClient.AdminActivity" />
        <activity android:name=".ChefClient.ChefHandleMealActivity" />
        <activity android:name=".ChefClient.ChefActiveMealsActivity" />
        <activity android:name=".ChefClient.ChefMainActivity" />
        <activity
            android:name=".LoginorRegistrationActivity.LoginActivity"
            android:label="ChefGo">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".CustomerOrderMealActivity" />
        <activity android:name=".CustomerOrderHistoryActivity" />
        <activity android:name=".CustomerProfileActivity" />
        <activity android:name=".CustomerMainActivity" />
        <activity android:name=".ViewMealRequests" />
    </application>

</manifest>